<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\AbstractBlock">
        <plugin name="magefan_lazyload_lock"
                type="Magefan\LazyLoad\Plugin\BlockPlugin" sortOrder="1000"/>
    </type>
    <type name="Magento\Cms\Block\Block">
        <plugin name="magefan_lazyload_lock"
                type="Magefan\LazyLoad\Plugin\BlockPlugin" sortOrder="1000"/>
    </type>
    <!-- Integration with Amasty_PageSpeedOptimizer -->
    <type name="Amasty\PageSpeedOptimizer\Model\Output\LazyLoadProcessor">
        <plugin name="magefan_lazyLoad_plugin_amasty_pagespeedoptimizer_model_output_lazyloadprocessor_plugin"
                type="Magefan\LazyLoad\Plugin\Amasty\PageSpeedOptimizer\Model\Output\LazyLoadProcessorPlugin" sortOrder="1000"/>
    </type>

    <type name="Amasty\PageSpeedTools\Model\Image\ReplacerComposite">
        <plugin name="magefan_lazyLoad_plugin_amasty_imagege_replacer_composite_plugin"
                type="Magefan\LazyLoad\Plugin\Amasty\PageSpeedOptimizer\Model\Output\LazyLoadProcessorPlugin" sortOrder="10000"/>
    </type>

    
    <!-- Integration with Magefan_WebP -->
    <type name="Magefan\WebP\Model\WebP">
        <plugin name="magefan_lazyLoad_plugin_for_webp"
                type="Magefan\LazyLoad\Plugin\Magefan\WebP\Model\WebPPlugin" sortOrder="10000"/>
    </type>

    <type name="Magefan\WebP\Api\HtmlParserInterface">
        <plugin name="magefan_lazyLoad_plugin_for_webp"
                type="Magefan\LazyLoad\Plugin\Magefan\WebP\Api\HtmlParserInterfacePlugin" sortOrder="10000"/>
    </type>
</config>