<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mflazyzoad" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10619842770" translate="label">
            <class>mflazyzoad</class>
            <label>Image Lazy Load</label>
            <tab>magefan</tab>
            <resource>Magefan_LazyLoad::config_magefan_lazyload</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="version" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magefan\LazyLoad\Block\Adminhtml\System\Config\Form\Info</frontend_model>
                </field>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="key" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Key</label>
                    <frontend_model>Magefan\Community\Block\Adminhtml\System\Config\Form\ProductKeyField</frontend_model>
                </field>

                <field id="method" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="27" translate="label comment" type="select"  canRestore="1">
                    <label>Method</label>
                    <source_model>Magefan\LazyLoad\Model\Config\Source\Method</source_model>
                </field>

                <field id="blocks_to_lazy_load" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="28" translate="label comment" type="select"  canRestore="1">
                    <label>Blocks To Lazy Load</label>
                    <source_model>Magefan\LazyLoad\Model\Config\Source\BlocksToLazyLoad</source_model>

                    <comment><![CDATA[
                           <strong>If the "All" option is chosen:</strong><br/>
                           Lazy Load will be added to all blocks. In the "Lazy Load Blocks" section you can skip a few images for some blocks to make them visible immediately.
                           <br/>
                           <strong>If the "Selected" option is chosen:</strong><br/>
                           You need to specify the blocks in which images should be lazy-loaded. Here you can also skip the first few images.
                        ]]></comment>
                </field>

                <field id="lazy_blocks" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="textarea" canRestore="1">
                    <label>Lazy Load Blocks</label>
                    <frontend_model>Magefan\LazyLoad\Block\Adminhtml\System\Config\Form\DynamicRow</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[
                        Lazy load functionality will be automatically applied to images inside this blocks. You can use block name, block PHP class, or .phtml template name.<br/>
                        <strong>Example:</strong><br/>
                        block.name.in.layout<br/>
                        \Vendor\ModuleName\Block\SomeBlock\Interceptor<br/>
                        Vendor_ModuleName::folder/mytemplate.phtml<br/>
                        folder/sometemplate.phtml
                        ]]></comment>
                </field>
                <field id="noscript" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label comment" type="select" canRestore="1">
                    <label>Include Noscript HTML Tag</label>
                    <depends>
                        <field id="method">0</field>
                    </depends>
                    <comment>The noscript HTML element defines a section of HTML that is inserted if a script type on the page is unsupported or if scripting is currently turned off in the browser. This option enables the display of images even when JavaScript is disabled in the browser and lazy load js script cannot be loaded. Note that when enabled it adds extra HTML tags to the page.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
